* {
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #4444;
    font-family: 'Raleway', sans-serif;
}

#dp {
    height: 210px;
    width: 210px;
    border-radius: 105px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #4444;
}

#name {
    font-size: 3rem;
    font-weight: normal;
    color: #444;
}

#bio{
    font-size: 1.5rem;
    font-weight: lighter;
    color: #777;
}

/*explain css selector*/
#social-links .icon{
    font-size: 3rem;
    color: #666666;
    margin: 10px;
}

main{
    margin-top: 20px;
    color: #666;
    font-family: 'Ubuntu', sans-serif;
}

.heading{
    font-size: 2rem;
    margin: 20px;
    color: #666;
}

/* I don't have to explain this */
.box-container{
    display: flex;
    justify-content: space-between;
}

.box{
    /*flex: 1;*/
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #4444;
    margin: 10px;
}

.skill{
    text-align: center;
}

.skill .icon{
    font-size: 10rem;
    display: block;
    margin: 0;
}

.skill .language{
    font-size: 3rem;
}

.skill .level{
    font-size: 1.5rem;
    color: #888;
}

.project .title{
    font-size: 1.5rem;
}

.project .title .language{
    float: right;
}

.project .description{
    color: #888;
    margin-top: 5px;
    font-family: monospace;
    font-size: 1.5rem;
}
